$primary: #7c3aed;
$body-bg: #eee;

@import "_custom-colors";
@import "bootstrap/scss/bootstrap";

$font-sizes: (
  7: 0.875rem,
  8: 0.8rem,
);

@each $index, $size in $font-sizes {
  .fs-#{$index} {
    font-size: $size;
  }
}

.log-card {
  min-width: 420px;
}
